# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the lockfiles as having been generated.
flake.lock linguist-generated
yarn.lock linguist-generated
yarn.nix linguist-generated
